[submodule "Assignment_4/Questionnare/CS726-Assignment-04"]
	path = Assignment_4/Questionnare/CS726-Assignment-04
	url = https://github.com/Nikita12200/CS726-Assignment-04
[submodule "Assignment_4/Solution/CS726-Assignment-04"]
	path = Assignment_4/Solution/CS726-Assignment-04
	url = https://github.com/Nikita12200/CS726-Assignment-04
